.header {
    background-color: #ffff;
    color: #7B7B7B;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    box-sizing: border-box;
}

.header-content {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.user-info {
    margin-right: 20px;
}

.user-info span {
    font-family: 'Arial', sans-serif;
    font-size: 0.95rem;
}