.header {
    background-color: #ffff;
    color: #7B7B7B;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.header-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.user-info {
    display: flex;
    width: 100%;
    height: 100%;
    margin-right: 20px;
    font-family: 'Arial', sans-serif;
    font-size: 0.95rem;
    justify-content: flex-end;
    align-items: center;
}