.navbar {
    background-color: #9A0C00;
    width: 150px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out, opacity 0.3s ease-in-out;
    z-index: 1000;
    /* Asegura que el navbar esté encima de otros elementos */
    overflow: hidden;
    /* Oculta el contenido cuando el navbar está cerrado */
    opacity: 1;
    /* Asegura que el navbar sea visible cuando está abierto */
}

.logo-container {
    background-color: #fff;
    padding: 10px;
    margin-top: 10px;
}

.logo-container img {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.nav-list {
    list-style: none;
    padding: 0;
    width: 100%;
}

.nav-list li {
    margin: 10px 0;
}

.nav-list a {
    color: white;
    text-decoration: none;
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
    display: block;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.nav-list a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* Media Query para dispositivos móviles */
@media (max-width: 768px) {
    .navbar {
        width: 0;
        transform: translateX(-100%);
        opacity: 0;
        /* Oculta el contenido cuando el navbar está cerrado */
    }

    .navbar.active {
        width: 150px;
        transform: translateX(0);
        opacity: 1;
        /* Muestra el contenido cuando el navbar está abierto */
    }

    .logo-container {
        margin-top: 50px;
    }

    .menu-button {
        display: block;
        position: fixed;
        top: 10px;
        left: 10px;
        background-color: #9A0C00;
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
        z-index: 1001;
        /* Asegura que el botón esté encima del navbar */
    }

    .menu-button .fa-bars {
        display: block;
    }

    .menu-button .fa-times {
        display: none;
    }

    .menu-button.active .fa-bars {
        display: none;
    }

    .menu-button.active .fa-times {
        display: block;
    }
}