@font-face {
    font-family: 'BigNoodleTitlingOblique';
    src: url('/fonts/big_noodle_titling_oblique.ttf') format('truetype');
}

@font-face {
    font-family: 'BigNoodleTitling';
    src: url('/fonts/big_noodle_titling.ttf') format('truetype');
}

@font-face {
    font-family: 'OhioCollegiate';
    src: url('/fonts/Ohio-Collegiate.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #e0dddd;
}

.main-guest-container {
    width: 100%;
    height: 100vh;
}

/* Whatsapp */

.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 1000;
}

.whatsapp-icon {
    margin-top: 16px;
}